<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>eSankalpIX</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center">
                <img src="~/Content/assets/img/logo.png" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <!--<div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" id="myInput" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>--><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#">
                        <span >Welcome <i>@Session["UserName"].ToString() | ID- @Session["FlatNo"].ToString() </i> | <b> @Session["dept"].ToString() </b></span>

                    </a><!-- End Profile Iamge Icon -->
                    <a class="dropdown-item d-flex align-items-center" href="../Login/Logout">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                    </a>
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            @if (Session["dept"] != null && Session["dept"].ToString() == "mdr")
            {
                <li class="nav-item">
                    <a class="nav-link " href="/DashBoard/DashBoardIndex">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <!-- End Profile Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Dispatch/Dispatch">
                        <i class="bi bi-save-fill"></i>
                        <span>Billing Entry</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Dispatch">
                        <i class="bi bi-list-check"></i>
                        <span>MDR Report</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Dispatch/ContractorReport">
                        <i class="bi bi-gender-trans"></i>
                        <span>Contractor Bill Report</span>
                    </a>
                </li><!-- End Profile Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Dispatch/Summary">
                        <i class="bi bi-speaker-fill"></i>
                        <span>Summary Sheet</span>
                    </a>
                </li><!-- End Profile Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Dispatch/BallingBill">
                        <i class="bi bi-bell-slash-fill"></i>
                        <span>Belling Bill</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/company/Index">
                        <i class="bi bi-person-add"></i>
                        <span>Customer Master</span>
                    </a>
                </li><!-- End Profile Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Contractor/Index">
                        <i class="bi bi-person-badge-fill"></i>
                        <span>Contractor Master</span>
                    </a>
                </li>
            }
            <!-- End MDR Nav -->
            @if (Session["dept"] != null && Session["dept"].ToString() == "production")
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/PurchaseOrder/Add">
                        <i class="bi bi-gender-trans"></i>
                        <span>Add Purchase Order</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/PurchaseOrder/Composition">
                        <i class="bi bi-dash-circle"></i>
                        <span>Composition</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/JobCard">
                        <i class="bi bi-journal-bookmark-fill"></i>
                        <span>JobCard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/JobCard/Create">
                        <i class="bi bi-journal-bookmark"></i>
                        <span>Create JobCard</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Login/ChangePassword">
                    <i class="bi bi-lock-fill"></i>
                    <span>Change Password</span>
                </a>
            </li><!-- End Login Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->
    <main id="main" class="main">
        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">


                    </div>
                </div>
            </div>

        </section>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by www.eSankalp.com</p>
        </footer>
    </main>
    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Content/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Content/assets/vendor/quill/quill.min.js"></script>
    @*<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>*@
    <script src="~/Content/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
